# Diego Ivan Garcia Zarza    2897709

In [ ]:
%%capture
!pip install rpy2==3.5.1

In [ ]:
%load_ext rpy2.ipython

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
%%R
library(readr)
library(magrittr)
library(dplyr)

WARNING:rpy2.rinterface_lib.callbacks:R[write to console]:
Attaching package: ‘dplyr’


WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: The following objects are masked from ‘package:stats’:

    filter, lag


WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [ ]:
%%R
data <- read.csv("drive/MyDrive/Big_Data/movies.csv")

9. Top 10 de las compañias con mas peliculas producidas

In [ ]:
%%R
data%>%
group_by(company) %>%
summarize(cantidad = n()) %>%
arrange(desc(cantidad)) %>%
head(10)

# A tibble: 10 × 2
   company                   cantidad
   <chr>                        <int>
 1 Universal Pictures             377
 2 Warner Bros.                   334
 3 Columbia Pictures              332
 4 Paramount Pictures             320
 5 Twentieth Century Fox          240
 6 New Line Cinema                174
 7 Touchstone Pictures            132
 8 Metro-Goldwyn-Mayer (MGM)      125
 9 Walt Disney Pictures           123
10 TriStar Pictures                94

10. Pelicula con el menor y mayor duracion

In [ ]:
%%R
data%>%
select(name,runtime) %>%
arrange(desc(runtime))%>%
head(1) -> maximo

data%>%
select(name,runtime) %>%
filter(!is.na(runtime))%>%
arrange(desc(runtime))%>%
tail(1)%>%
head(1) -> minimo

c(maximo,minimo)

$name
[1] "The Best of Youth"

$runtime
[1] 366

$name
[1] "The Business of Show Business"

$runtime
[1] 55

11. Top 3 de los escritores con mas trabajos en el siglo XX

In [ ]:
%%R
data %>%
group_by(writer) %>%
filter( year>"1900" & year <"2000") %>%
summarize(cantidad = n()) %>%
arrange(desc(cantidad)) %>%
head(3)

# A tibble: 3 × 2
  writer       cantidad
  <chr>           <int>
1 Stephen King       26
2 John Hughes        24
3 Woody Allen        20

12. Top 3 directores con mas trabajos en tu año de nacimiento

In [ ]:
%%R
data %>%
group_by(director) %>%
filter( year == "2003") %>%
summarize(cantidad = n()) %>%
arrange(desc(cantidad)) %>%
head(3)

# A tibble: 3 × 2
  director       cantidad
  <chr>             <int>
1 David Zucker          2
2 F. Gary Gray          2
3 Lana Wachowski        2

13. Top 10 de los mejores generos de peliculas basados en su Score

In [ ]:
%%R
data %>%
group_by(genre)%>%
summarize(calif = mean(score)) %>%
arrange(desc(calif)) %>%
head(10)

# A tibble: 10 × 2
   genre     calif
   <chr>     <dbl>
 1 History    8.3
 2 Musical    8.05
 3 Music      7.2
 4 Biography  7.03
 5 Animation  6.77
 6 Crime      6.67
 7 Mystery    6.66
 8 Romance    6.41
 9 Family     6.36
10 Adventure  6.29

14. ¿Cuantas peliculas se estrenaron en tu fecha de cumpleaños?

In [ ]:
%%R
data %>%
filter(grepl("October 10", released)) %>%
count()

   n
1 30

15. Cantidad de peliculas donde el director y el escritorson la misma persona

In [ ]:
%%R
data %>%
filter(director == writer)%>%
count()

     n
1 2164

16. Cantidad de peliculas donde el protagonistay el director son la misma persona

In [ ]:
%%R
data %>%
filter(director == star)%>%
count()

    n
1 205

17. Top 10 de directores que han sido escritores durante mas peliculas

In [ ]:
%%R
data %>%
group_by(director)%>%
filter(director == writer)%>%
summarize(cantidad = n())%>%
arrange(desc(cantidad))%>%
head(10)

# A tibble: 10 × 2
   director           cantidad
   <chr>                 <int>
 1 Woody Allen              37
 2 Pedro Almodóvar          13
 3 Jim Jarmusch             11
 4 Lars von Trier           11
 5 M. Night Shyamalan       11
 6 Kevin Smith              10
 7 Richard Linklater        10
 8 Tyler Perry              10
 9 Luc Besson                9
10 Quentin Tarantino         9

18. Actor con mas peliculas protagonizadas de tu genero favorito

In [ ]:
%%R
data %>%
filter ( genre == "Horror")%>%
group_by(star)%>%
summarize(cantidad = n())%>%
arrange(desc(cantidad))%>%
head(1)

# A tibble: 1 × 2
  star             cantidad
  <chr>               <int>
1 Donald Pleasence        4