# Diego Ivan Garcia Zarza   2897709

In [ ]:
%%capture
!pip install rpy2==3.5.1

In [2]:
%load_ext rpy2.ipython

In [3]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [4]:
%%R
library(readr)
library(magrittr)
library(dplyr)

WARNING:rpy2.rinterface_lib.callbacks:R[write to console]:
Attaching package: ‘dplyr’


WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: The following objects are masked from ‘package:stats’:

    filter, lag


WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [5]:
%%R
data <- read.csv("drive/MyDrive/Big_Data/videogames.csv")

1. Cantidad de videojuegos por plataforma

In [6]:
%%R 
data %>%
group_by(Platform)%>%
count()%>%
arrange(desc(n))%>%
print(n=31)

# A tibble: 31 × 2
# Groups:   Platform [31]
   Platform     n
   <chr>    <int>
 1 PS2       2161
 2 DS        2152
 3 PS3       1331
 4 Wii       1320
 5 X360      1262
 6 PSP       1209
 7 PS        1197
 8 PC         974
 9 XB         824
10 GBA        822
11 GC         556
12 3DS        520
13 PSV        432
14 PS4        393
15 N64        319
16 XOne       247
17 SNES       239
18 SAT        173
19 WiiU       147
20 2600       133
21 GB          98
22 NES         98
23 DC          52
24 GEN         29
25 NG          12
26 SCD          6
27 WS           6
28 3DO          3
29 TG16         2
30 GG           1
31 PCFX         1

2. Cantidad de videojuegos por rating

In [7]:
%%R 
data %>%
group_by(Rating) %>%
filter(!is.na(Rating) & Rating != "") %>%
summarize(cantidad = n())%>%
arrange(desc(cantidad))

# A tibble: 8 × 2
  Rating cantidad
  <chr>     <int>
1 E          3991
2 T          2961
3 M          1563
4 E10+       1420
5 EC            8
6 K-A           3
7 RP            3
8 AO            1

3. Cantidad de videojuegos lanzados antes del año 2000 y cantidad de videojuegos lanzados despues del año 2000

In [8]:
%%R
antes.2000 <- data %>%
filter(!is.na(Year_of_Release) & Year_of_Release != "" & Year_of_Release <2000)%>%
count()%>%
arrange(desc(n))
antes.2000

     n
1 1976

In [9]:
%%R
despues.2000 <- data%>%
filter(!is.na(Year_of_Release) & Year_of_Release != "" & Year_of_Release >=2000)%>%
count()%>%
arrange(desc(n))
despues.2000

      n
1 14743

4. Plataforma cuyos videojuegos han recibido el mayor numero de criticas

In [10]:
%%R
data %>%
filter(!is.na(Critic_Count) & Platform !="")%>%
group_by(Platform)%>%
summarize( cantidad = sum(Critic_Count))%>%
arrange(desc(cantidad))%>%
head(1)

# A tibble: 1 × 2
  Platform cantidad
  <chr>       <int>
1 X360        38583

5. Cantidad de videojuegos por genero

In [11]:
%%R 
data %>%
group_by(Genre) %>%
filter(!is.na(Genre) & Genre != "") %>%
summarize(cantidad = n())%>%
arrange(desc(cantidad))

# A tibble: 12 × 2
   Genre        cantidad
   <chr>           <int>
 1 Action           3370
 2 Sports           2348
 3 Misc             1750
 4 Role-Playing     1500
 5 Shooter          1323
 6 Adventure        1303
 7 Racing           1249
 8 Platform          888
 9 Simulation        874
10 Fighting          849
11 Strategy          683
12 Puzzle            580

6. Ventas totales en Norteamerica por parte de cada empresa desarrolladora

In [12]:
%%R
data%>%
group_by(Developer)%>%
filter(!is.na(Developer) & Developer != "") %>%
summarize(ventas = sum(NA_Sales))%>%
arrange(desc(ventas))

# A tibble: 1,696 × 2
   Developer        ventas
   <chr>             <dbl>
 1 Nintendo          231.
 2 EA Sports          96.8
 3 EA Tiburon         78.7
 4 Ubisoft            76.9
 5 EA Canada          66.2
 6 Treyarch           56.9
 7 Visual Concepts    56.0
 8 Rockstar North     55.2
 9 Ubisoft Montreal   51.6
10 Capcom             46.7
# ℹ 1,686 more rows
# ℹ Use `print(n = ...)` to see more rows

7. Ventas globales por genero de videojuegos

In [13]:
%%R
data%>%
group_by(Genre)%>%
filter(!is.na(Genre) & Genre != "") %>%
summarize(ventas = round(sum(Global_Sales)))%>%
arrange(desc(ventas))

# A tibble: 12 × 2
   Genre        ventas
   <chr>         <dbl>
 1 Action         1745
 2 Sports         1332
 3 Shooter        1053
 4 Role-Playing    934
 5 Platform        828
 6 Misc            803
 7 Racing          729
 8 Fighting        447
 9 Simulation      390
10 Puzzle          243
11 Adventure       238
12 Strategy        174

8. Region en donde se ha obtenido la mayor cantidad de ventas de videojuegos

In [24]:
%%R
data %>%
select(NA_Sales,EU_Sales,JP_Sales,Other_Sales)%>%
colSums()%>%
which.max()

NA_Sales
       1

9. Videojuego mas vendido cada año

In [25]:
%%R
resultados<-data %>%
select(Name,Year_of_Release,Global_Sales)%>%
filter(!is.na(Year_of_Release))%>%
group_by(Year_of_Release)%>%
slice_max(Global_Sales)


resultados <- resultados[resultados$Year_of_Release != "N/A",]
print(resultados, n=40)

# A tibble: 39 × 3
# Groups:   Year_of_Release [39]
   Name                                             Year_of_Release Global_Sales
   <chr>                                            <chr>                  <dbl>
 1 Asteroids                                        1980                    4.31
 2 Pitfall!                                         1981                    4.5
 3 Pac-Man                                          1982                    7.81
 4 Baseball                                         1983                    3.2
 5 Duck Hunt                                        1984                   28.3
 6 Super Mario Bros.                                1985                   40.2
 7 The Legend of Zelda                              1986                    6.51
 8 Zelda II: The Adventure of Link                  1987                    4.38
 9 Super Mario Bros. 3                              1988                   17.3
10 Tetris                                           1989                   30.3
11 Super Mario World                                1990                   20.6
12 The Legend of Zelda: A Link to the Past          1991                    4.61
13 Super Mario Land 2: 6 Golden Coins               1992                   11.2
14 Super Mario All-Stars                            1993                   10.6
15 Donkey Kong Country                              1994                    9.3
16 Donkey Kong Country 2: Diddy's Kong Quest        1995                    5.15
17 Pokemon Red/Pokemon Blue                         1996                   31.4
18 Gran Turismo                                     1997                   11.0
19 Pokémon Yellow: Special Pikachu Edition          1998                   14.6
20 Pokemon Gold/Pokemon Silver                      1999                   23.1
21 Pokémon Crystal Version                          2000                    6.39
22 Gran Turismo 3: A-Spec                           2001                   15.0
23 Grand Theft Auto: Vice City                      2002                   16.2
24 Need for Speed Underground                       2003                    7.2
25 Grand Theft Auto: San Andreas                    2004                   20.8
26 Nintendogs                                       2005                   24.7
27 Wii Sports                                       2006                   82.5
28 Wii Fit                                          2007                   22.7
29 Mario Kart Wii                                   2008                   35.5
30 Wii Sports Resort                                2009                   32.8
31 Kinect Adventures!                               2010                   21.8
32 Call of Duty: Modern Warfare 3                   2011                   14.7
33 Call of Duty: Black Ops II                       2012                   13.8
34 Grand Theft Auto V                               2013                   21.0
35 Grand Theft Auto V                               2014                   12.6
36 Call of Duty: Black Ops 3                        2015                   14.6
37 FIFA 17                                          2016                    7.59
38 Phantasy Star Online 2 Episode 4: Deluxe Package 2017                    0.04
39 Imagine: Makeup Artist                           2020                    0.29

10. Videojuego mas viejo y videojuego mas nuevo de acuerdo al registro

In [26]:
%%R
data %>%
select(Name,Year_of_Release)%>%
filter(Year_of_Release != "N/A")%>%
arrange(desc(Year_of_Release))%>%
head(1)

                    Name Year_of_Release
1 Imagine: Makeup Artist            2020

In [27]:
%%R
data %>%
select(Name,Year_of_Release)%>%
filter(Year_of_Release != "N/A")%>%
arrange(desc(Year_of_Release))%>%
tail(9)

                 Name Year_of_Release
16442       Asteroids            1980
16443 Missile Command            1980
16444         Kaboom!            1980
16445        Defender            1980
16446          Boxing            1980
16447      Ice Hockey            1980
16448         Freeway            1980
16449          Bridge            1980
16450        Checkers            1980

11. Videojuego mas vendido globalmente de tu genero favorito

In [28]:
%%R
data%>%
select(Name,Genre,Global_Sales)%>%
filter(Genre =="Action")%>%
slice_max(Global_Sales)

                Name  Genre Global_Sales
1 Grand Theft Auto V Action        21.04